# Shipping Cost Prediction


### Reg No: IT21134180
### Name: Vihansa S.A.S

<hr/>

<ul>
    <li><b>Target Variable:</b> Shipping Cost </li>
    <li><b>Predictors:</b> Type here the predictors...</li>
    <li><b>Objective:</b> Type here the objective.</li>
</ul>

In [54]:
#Importing required libraries
import seaborn as sns
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from datetime import datetime
from dateutil.parser import parse
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import Ridge
from sklearn.datasets import make_regression
from sklearn.linear_model import ElasticNet
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from scipy.stats import uniform, randint

from sklearn.model_selection import RandomizedSearchCV

In [158]:
#Import the dataset 
dataset = pd.read_csv('../dataset/SuperStoreOrders.csv')

In [159]:
# Visualise the dataset 
dataset

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,5/1/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,31-12-2014,4/1/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,31-12-2014,5/1/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-Dra√¢,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,31-12-2014,2/1/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,31-12-2014,6/1/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,31-12-2014,4/1/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014

In [160]:
#Select columns in the dataset 
# dataset = dataset[["order_date","ship_mode","segment","state","market","region","category","sales","quantity","discount","order_priority","shipping_cost"]]
dataset = dataset[["category", "sub_category", "ship_mode", "sales", "quantity", "profit", "order_priority", "product_id", "market", "state", "shipping_cost"]]
                
dataset

,category,sub_category,ship_mode,sales,quantity,profit,order_priority,product_id,market,state,shipping_cost
0,Office Supplies,Storage,Standard Class,408,2,106.1400,Medium,OFF-TEN-10000025,Africa,Constantine,35.46
1,Office Supplies,Supplies,Standard Class,120,3,36.0360,Medium,OFF-SU-10000618,APAC,New South Wales,9.72
2,Office Supplies,Storage,Second Class,66,4,29.6400,High,OFF-TEN-10001585,EMEA,Budapest,8.17
3,Office Supplies,Paper,Second Class,45,3,-26.0550,High,OFF-PA-10001492,EU,Stockholm,4.82
4,Furniture,Furnishings,Standard Class,114,5,37.7700,Medium,FUR-FU-10003447,APAC,New South Wales,4.70
...,...,...,...,...,...,...,...,...,...,...,...
51285,Office Supplies,Binders,Standard Class,14,2,4.5188,Medium,OFF-BI-10002103,US,California,0.89
51286,Office Supplies,Binders,Standard Class,4,1,0.4200,Medium,OFF-WIL-10001069,Africa,Souss-Massa-Dra√¢,0.49
51287,Office Supplies,Labels,Second Class,26,3,12.3600,Medium,OFF-LA-10004182,LATAM,Managua,0.35
51288,Office Supplies,Labels,Standard Class,7,1,0.5600,Medium,OFF-LA-10000413,LATAM,Chihuahua,0.20
51289,Office Supplies,Fasteners,Standard Class,3,3,-0.6048,Medium,OFF-FA-10003472,US,Colorado,0.17

In [161]:
#Checking for Missing values 
dataset.isnull() #It is difficult to identify missing values using this method since the dataset is large.
dataset.isnull().values.any() #Using this command we can scan the entire dataset and get a verification whether there are missing values or not

False

In [162]:
#Getting the number of categoricaal variables of each feature seperately.
dataset['ship_mode'].value_counts(normalize=False)

Standard Class    30775
Second Class      10309
First Class        7505
Same Day           2701
Name: ship_mode, dtype: int64

In [163]:
#Get the count of variables that has unique values in the dataset 
categorical_counts = dataset.select_dtypes(include=['object']).nunique()
print(categorical_counts)

category              3
sub_category         17
ship_mode             4
sales              2246
order_priority        4
product_id        10292
market                7
state              1094
dtype: int64

In [164]:
# Initialise label encoder
label_encoder = LabelEncoder() 
  
# Encode labels in the data frame. 

# dataset['country']= label_encoder.fit_transform(dataset['country']) 
dataset['ship_mode']= label_encoder.fit_transform(dataset['ship_mode']) 
# dataset['segment']= label_encoder.fit_transform(dataset['segment']) 
dataset['state']= label_encoder.fit_transform(dataset['state']) 
dataset['market']= label_encoder.fit_transform(dataset['market']) 
# dataset['region']= label_encoder.fit_transform(dataset['region']) 
dataset['category']= label_encoder.fit_transform(dataset['category']) 
dataset['sub_category']= label_encoder.fit_transform(dataset['sub_category']) 
dataset['order_priority']= label_encoder.fit_transform(dataset['order_priority']) 
dataset['product_id']= label_encoder.fit_transform(dataset['product_id']) 
# dataset['sales']= label_encoder.fit_transform(dataset['sales'])
#Remove , in sales 
dataset['sales'] = dataset['sales'].astype(str).str.replace(',', '')

# Convert 'sales' column to numerical value
dataset['sales'] = pd.to_numeric(dataset['sales'])

# Displaying the dataset with the custom format date column
print(dataset)

       category  sub_category  ship_mode  sales  quantity    profit  \
0             1            14          3    408         2  106.1400
1             1            15          3    120         3   36.0360
2             1            14          2     66         4   29.6400
3             1            12          2     45         3  -26.0550
4             0             9          3    114         5   37.7700
...         ...           ...        ...    ...       ...       ...
51285         1             3          3     14         2    4.5188
51286         1             3          3      4         1    0.4200
51287         1            10          2     26         3   12.3600
51288         1            10          3      7         1    0.5600
51289         1             8          3      3         3   -0.6048

       order_priority  product_id  market  state  shipping_cost
0                   3        7846       1    255          35.46
1                   3        7464       0    702           9.72
2                   1        7858       3    175           8.17
3                   1        6206       4    939           4.82
4                   3        1492       0    702           4.70
...               ...         ...     ...    ...            ...
51285               3        3659       6    192           0.89
51286               3        7877       1    923           0.49
51287               3        5889       5    599           0.35
51288               3        5529       5    230           0.20
51289               3        5038       6    251           0.17

[51290 rows x 11 columns]

C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\4195569135.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['ship_mode']= label_encoder.fit_transform(dataset['ship_mode'])
C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\4195569135.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['state']= label_encoder.fit_transform(dataset['state'])
C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\4195569135.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['market']= label_encoder.fit_transform(dataset['market'])
C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\4195569135.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['category']= label_encoder.fit_transform(dataset['category'])
C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\4195569135.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['sub_category']= label_encoder.fit_transform(dataset['sub_category'])
C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\4195569135.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['order_priority']= label_encoder.fit_transform(dataset['order_priority'])
C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\4195569135.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['product_id']= label_encoder.fit_transform(dataset['product_id'])
C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\4195569135.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['sales'] = dataset['sales'].astype(str).str.replace(',', '')
C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\4195569135.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['sales'] = pd.to_numeric(dataset['sales'])

In [34]:
dataset['order_date'] = dataset['order_date'].apply(lambda x: parse(x))
print(dataset)

      order_date  category  sub_category  ship_mode  sales  quantity  \
0     2011-01-01         1            14          3    408         2
1     2011-01-01         1            15          3    120         3
2     2011-01-01         1            14          2     66         4
3     2011-01-01         1            12          2     45         3
4     2011-01-01         0             9          3    114         5
...          ...       ...           ...        ...    ...       ...
51285 2014-12-31         1             3          3     14         2
51286 2014-12-31         1             3          3      4         1
51287 2014-12-31         1            10          2     26         3
51288 2014-12-31         1            10          3      7         1
51289 2014-12-31         1             8          3      3         3

       shipping_cost
0              35.46
1               9.72
2               8.17
3               4.82
4               4.70
...              ...
51285           0.89
51286           0.49
51287           0.35
51288           0.20
51289           0.17

[51290 rows x 7 columns]

C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\2496454612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['order_date'] = dataset['order_date'].apply(lambda x: parse(x))

In [35]:
# Assuming 'date_order' is the column containing datetime64 objects
dataset['order_date'] = dataset['order_date'].astype('int64') // 10**9

# Convert int64 to int32
dataset['order_date'] = dataset['order_date'].astype('int32')
dataset

C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\3529203450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['order_date'] = dataset['order_date'].astype('int64') // 10**9
C:\Users\poorn\AppData\Local\Temp\ipykernel_21564\3529203450.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['order_date'] = dataset['order_date'].astype('int32')

,order_date,category,sub_category,ship_mode,sales,quantity,shipping_cost
0,1293840000,1,14,3,408,2,35.46
1,1293840000,1,15,3,120,3,9.72
2,1293840000,1,14,2,66,4,8.17
3,1293840000,1,12,2,45,3,4.82
4,1293840000,0,9,3,114,5,4.70
...,...,...,...,...,...,...,...
51285,1419984000,1,3,3,14,2,0.89
51286,1419984000,1,3,3,4,1,0.49
51287,1419984000,1,10,2,26,3,0.35
51288,1419984000,1,10,3,7,1,0.20
51289,1419984000,1,8,3,3,3,0.17

In [165]:
#Print the data types of the dataset
print(dataset.dtypes)

category            int32
sub_category        int32
ship_mode           int32
sales               int64
quantity            int64
profit            float64
order_priority      int32
product_id          int32
market              int32
state               int32
shipping_cost     float64
dtype: object

In [166]:
#Split the dataset as X and Y 
x = dataset.drop(['shipping_cost'],axis=1)
y = dataset['shipping_cost'] #value that is expected to predict 

#Print X and Y 
print(x)
print (y)

       category  sub_category  ship_mode  sales  quantity    profit  \
0             1            14          3    408         2  106.1400
1             1            15          3    120         3   36.0360
2             1            14          2     66         4   29.6400
3             1            12          2     45         3  -26.0550
4             0             9          3    114         5   37.7700
...         ...           ...        ...    ...       ...       ...
51285         1             3          3     14         2    4.5188
51286         1             3          3      4         1    0.4200
51287         1            10          2     26         3   12.3600
51288         1            10          3      7         1    0.5600
51289         1             8          3      3         3   -0.6048

       order_priority  product_id  market  state
0                   3        7846       1    255
1                   3        7464       0    702
2                   1        7858       3    175
3                   1        6206       4    939
4                   3        1492       0    702
...               ...         ...     ...    ...
51285               3        3659       6    192
51286               3        7877       1    923
51287               3        5889       5    599
51288               3        5529       5    230
51289               3        5038       6    251

[51290 rows x 10 columns]
0        35.46
1         9.72
2         8.17
3         4.82
4         4.70
         ...
51285     0.89
51286     0.49
51287     0.35
51288     0.20
51289     0.17
Name: shipping_cost, Length: 51290, dtype: float64

In [167]:
#Split train and test dataset 
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2,train_size=0.8,random_state=1,shuffle=True)
print('x train')
print(x_train)

print('X test')
print (x_test)

print('y train')
print(y_train)

print('y test')
print (y_test)

x train
       category  sub_category  ship_mode  sales  quantity    profit  \
48142         0             4          3    165         1 -173.5980
46551         2            13          0     53         1    0.5299
13524         1            14          3     55         1   13.6500
32461         1             8          0     45         5    1.8000
23857         1            10          2     24         2    8.0400
...         ...           ...        ...    ...       ...       ...
50057         1            14          2      7         1    3.3400
32511         2            13          3    157         1   13.7193
5192          1            15          3     14         1  -20.7900
12172         1            10          3     10         1    3.6600
33003         1            12          3     78         4  -22.1760

       order_priority  product_id  market  state
48142               3        1035       3     50
46551               1       10050       6    703
13524               3        7854       2    819
32461               1        4805       5    540
23857               1        5971       1    499
...               ...         ...     ...    ...
50057               1        6940       5    854
32511               3        9878       6   1050
5192                1        5456       3    452
12172               3        5711       0    924
33003               3        6566       0    820

[41032 rows x 10 columns]
X test
       category  sub_category  ship_mode  sales  quantity     profit  \
14799         2            11          2    486         6  223.38000
13808         2             6          3    593         3   76.03164
1113          0             9          3     31         2    8.07660
25534         0             5          3    711         4  341.16000
8472          1            14          3     88         2   22.48800
...         ...           ...        ...    ...       ...        ...
12538         2             6          2    219         2   67.99200
34586         1             2          2     15         1    5.37000
45279         1             8          3     18         2    4.96000
10220         2             6          3    264         1   42.18000
10615         1             3          3    102         2   29.58000

       order_priority  product_id  market  state
14799               3        9165       0    702
13808               3        8752       5    964
1113                3        1584       6    332
25534               2         893       0    463
8472                3        6949       4    722
...               ...         ...     ...    ...
12538               3        8714       0   1056
34586               0        7331       1    826
45279               2        4930       5    371
10220               3        8708       0    897
10615               1        3946       4    722

[10258 rows x 10 columns]
y train
48142    18.17
46551     4.31
13524     2.95
32461    10.82
23857     4.47
         ...
50057     0.58
32511    12.85
5192      1.32
12172     0.86
33003     0.94
Name: shipping_cost, Length: 41032, dtype: float64
y test
14799     41.12
13808     28.57
1113       2.37
25534    116.79
8472       9.70
          ...
12538     29.92
34586      3.07
45279      1.20
10220     19.22
10615     12.81
Name: shipping_cost, Length: 10258, dtype: float64

In [168]:
#Linear Regression
reg = LinearRegression().fit(x_train, y_train)
y_pred = reg.predict(x_train)

# Print coefficients
print("Coefficients:", reg.coef_)

# Print intercept
print("Intercept:", reg.intercept_)

# Print R-squared
print("R-squared:", r2_score(y_train, y_pred))

# Print Mean Squared Error (MSE)
print("Mean Squared Error:", mean_squared_error(y_train, y_pred))

# More detailed information about the model
print("Model details:", reg)

Coefficients: [ 1.14211192e+00 -1.06087859e-02 -4.57098855e+00  9.58144424e-02
  6.69350032e-01 -1.99890886e-02 -7.99708509e+00 -1.34178080e-04
 -3.72871571e-01  3.81195326e-04]
Intercept: 28.987897666043487
R-squared: 0.6552157517195873
Mean Squared Error: 1140.2175232555878
Model details: LinearRegression()

In [169]:
clf = Ridge(alpha=10.0)

# Define the grid of hyperparameters to search
param_grid = {'alpha': [0.001, 0.01, 0.1, 1.0, 10.0]}

# Perform grid search with cross-validation
grid_search = GridSearchCV(estimator=clf, param_grid=param_grid, cv=5, scoring='r2')
grid_search.fit(x_train, y_train)

# Get the best hyperparameters
best_alpha = grid_search.best_params_['alpha']
print("Best alpha:", best_alpha)

# Use the best model
best_clf = grid_search.best_estimator_
y_pred = best_clf.predict(x_train)

# Print R-squared
print("R-squared:", r2_score(y_train, y_pred))

# Print Mean Squared Error (MSE)
print("Mean Squared Error:", mean_squared_error(y_train, y_pred))

# More detailed information about the best model
print("Best model details:", best_clf)

Best alpha: 10.0
R-squared: 0.6552157501627693
Mean Squared Error: 1140.2175284040577
Best model details: Ridge(alpha=10.0)

In [143]:
regr = ElasticNet(alpha=0.01,random_state=0)

# Define the grid of hyperparameters to search
param_grid = {'alpha': [0.001, 0.01, 0.1, 1.0, 10.0],
              'l1_ratio': [0.1, 0.3, 0.5, 0.7, 0.9]}

# Perform grid search with cross-validation
grid_search = GridSearchCV(estimator=regr, param_grid=param_grid, cv=5, scoring='r2')
grid_search.fit(x_train, y_train)

# Get the best hyperparameters
best_alpha = grid_search.best_params_['alpha']
best_l1_ratio = grid_search.best_params_['l1_ratio']
print("Best alpha:", best_alpha)
print("Best l1_ratio:", best_l1_ratio)

# Use the best model
best_regr = grid_search.best_estimator_
y_pred = best_regr.predict(x_train)

# Print R-squared
print("R-squared:", r2_score(y_train, y_pred))

# Print Mean Squared Error (MSE)
print("Mean Squared Error:", mean_squared_error(y_train, y_pred))

# More detailed information about the best model
print("Best model details:", best_regr)

Best alpha: 0.1
Best l1_ratio: 0.9
R-squared: 0.6549854257958381
Mean Squared Error: 1140.9792217833742
Best model details: ElasticNet(alpha=0.1, l1_ratio=0.9, random_state=0)

In [144]:
regr = linear_model.Lasso(alpha=0.1)
regr.fit(x_train, y_train)
y_pred=regr.predict(x_train)

# Define the hyperparameter distribution for Randomized Search
param_dist = {
    'alpha': uniform(0.001, 10.0),
    'fit_intercept': [True, False],
    'precompute': [True, False],
    'copy_X': [True, False],
    'max_iter': randint(100, 1000),
    'warm_start': [True, False],
    'positive': [True, False],
    'random_state': [None, 0, 42],
    'selection': ['cyclic', 'random']
}

# Perform Randomized Search with cross-validation
random_search = RandomizedSearchCV(estimator=regr, param_distributions=param_dist, n_iter=100, cv=3, scoring='r2', random_state=42)
random_search.fit(x_train, y_train)

# Get the best hyperparameters
best_params = random_search.best_params_
print("Best hyperparameters:", best_params)

# Use the best model
best_regr = random_search.best_estimator_
y_pred = best_regr.predict(x_train)

# Print R-squared
print("R-squared:", r2_score(y_train, y_pred))

# Print Mean Squared Error (MSE)
print("Mean Squared Error:", mean_squared_error(y_train, y_pred))

# More detailed information about the best model
print("Best model details:", best_regr)

Best hyperparameters: {'alpha': 0.18175363615520868, 'copy_X': False, 'fit_intercept': True, 'max_iter': 915, 'positive': False, 'precompute': False, 'random_state': 42, 'selection': 'cyclic', 'warm_start': True}
R-squared: 0.6549800651694764
Mean Squared Error: 1140.9969496237372
Best model details: Lasso(alpha=0.18175363615520868, copy_X=False, max_iter=915, random_state=42,
      warm_start=True)