## Sales Forecasting


### Reg No: IT21127946
### Name: Christy H.M

<hr/>

<ul>
    <li><b>Target Variable:</b> Total sales (considering the Total attribute)</li>
    <li><b>Predictors:</b> Branch, Customer type, Gender, Product line, Quantity, Date, Time, Payment, COGS, and Gross income</li>
    <li><b>Objective:</b> Predict the total sales amount based on various factors such as the type of products, customer demographics, and purchase details.</li>
</ul>

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
dataset = pd.read_csv(
    '../dataset/supermarket_sales.csv')

In [3]:
dataset

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [4]:
# Selecting relevant columns
selected_columns = ['Branch', 'Customer type', 'Gender', 'Product line', 'Quantity', 
                    'Payment', 'cogs', 'gross income','Total']

In [5]:
# Creating a new DataFrame with selected columns
preprocessed_dataset = dataset[selected_columns].copy()

In [6]:
#Checking preprocessed dataframe
preprocessed_dataset

,Branch,Customer type,Gender,Product line,Quantity,Payment,cogs,gross income,Total
0,A,Member,Female,Health and beauty,7,Ewallet,522.83,26.1415,548.9715
1,C,Normal,Female,Electronic accessories,5,Cash,76.40,3.8200,80.2200
2,A,Normal,Male,Home and lifestyle,7,Credit card,324.31,16.2155,340.5255
3,A,Member,Male,Health and beauty,8,Ewallet,465.76,23.2880,489.0480
4,A,Normal,Male,Sports and travel,7,Ewallet,604.17,30.2085,634.3785
...,...,...,...,...,...,...,...,...,...
995,C,Normal,Male,Health and beauty,1,Ewallet,40.35,2.0175,42.3675
996,B,Normal,Female,Home and lifestyle,10,Ewallet,973.80,48.6900,1022.4900
997,A,Member,Male,Food and beverages,1,Cash,31.84,1.5920,33.4320
998,A,Normal,Male,Home and lifestyle,1,Cash,65.82,3.2910,69.1110
999,A,Member,Female,Fashion accessories,7,Cash,618.38,30.9190,649.2990

In [7]:
# Handling missing values (if any)
preprocessed_dataset.dropna(inplace=True)

In [8]:
#Preprocessed data
preprocessed_dataset

,Branch,Customer type,Gender,Product line,Quantity,Payment,cogs,gross income,Total
0,A,Member,Female,Health and beauty,7,Ewallet,522.83,26.1415,548.9715
1,C,Normal,Female,Electronic accessories,5,Cash,76.40,3.8200,80.2200
2,A,Normal,Male,Home and lifestyle,7,Credit card,324.31,16.2155,340.5255
3,A,Member,Male,Health and beauty,8,Ewallet,465.76,23.2880,489.0480
4,A,Normal,Male,Sports and travel,7,Ewallet,604.17,30.2085,634.3785
...,...,...,...,...,...,...,...,...,...
995,C,Normal,Male,Health and beauty,1,Ewallet,40.35,2.0175,42.3675
996,B,Normal,Female,Home and lifestyle,10,Ewallet,973.80,48.6900,1022.4900
997,A,Member,Male,Food and beverages,1,Cash,31.84,1.5920,33.4320
998,A,Normal,Male,Home and lifestyle,1,Cash,65.82,3.2910,69.1110
999,A,Member,Female,Fashion accessories,7,Cash,618.38,30.9190,649.2990

In [9]:
# Encoding categorical variables using one-hot encoding
preprocessed_dataset = pd.get_dummies(preprocessed_dataset, columns=['Branch', 'Customer type', 'Gender', 'Product line', 'Payment'])

In [10]:
# Scaling numerical features (optional, depending on the model you choose)

scaler = StandardScaler()
preprocessed_dataset[['Quantity', 'cogs', 'gross income']] = scaler.fit_transform(preprocessed_dataset[['Quantity', 'cogs', 'gross income']])

In [11]:
# Convert boolean columns to 0 and 1
boolean_columns = ['Branch_A', 'Branch_B', 'Branch_C',
                   'Customer type_Member', 'Customer type_Normal',
                   'Gender_Female', 'Gender_Male',
                   'Product line_Electronic accessories', 'Product line_Fashion accessories',
                   'Product line_Food and beverages', 'Product line_Health and beauty',
                   'Product line_Home and lifestyle', 'Product line_Sports and travel',
                   'Payment_Cash', 'Payment_Credit card', 'Payment_Ewallet']

preprocessed_dataset[boolean_columns] = preprocessed_dataset[boolean_columns].astype(int)

In [12]:
# Displaying the preprocessed dataset
print(preprocessed_dataset.head())

   Quantity      cogs  gross income     Total  Branch_A  Branch_B  Branch_C  \
0  0.509930  0.919607      0.919607  548.9715         1         0         0
1 -0.174540 -0.987730     -0.987730   80.2200         0         0         1
2  0.509930  0.071446      0.071446  340.5255         1         0         0
3  0.852165  0.675780      0.675780  489.0480         1         0         0
4  0.509930  1.267125      1.267125  634.3785         1         0         0

   Customer type_Member  Customer type_Normal  Gender_Female  Gender_Male  \
0                     1                     0              1            0
1                     0                     1              1            0
2                     0                     1              0            1
3                     1                     0              0            1
4                     0                     1              0            1

   Product line_Electronic accessories  Product line_Fashion accessories  \
0                                    0                                 0
1                                    1                                 0
2                                    0                                 0
3                                    0                                 0
4                                    0                                 0

   Product line_Food and beverages  Product line_Health and beauty  \
0                                0                               1
1                                0                               0
2                                0                               0
3                                0                               1
4                                0                               0

   Product line_Home and lifestyle  Product line_Sports and travel  \
0                                0                               0
1                                0                               0
2                                1                               0
3                                0                               0
4                                0                               1

   Payment_Cash  Payment_Credit card  Payment_Ewallet
0             0                    0                1
1             1                    0                0
2             0                    1                0
3             0                    0                1
4             0                    0                1

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Splitting the data into training and testing sets
X = preprocessed_dataset.drop(columns=['Total'])  # Make sure 'total' is replaced with the actual column name of your target variable
y = preprocessed_dataset['Total']  # Make sure 'total' is replaced with the actual column name of your target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
# Creating and training the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [15]:
# Making predictions on the test set
y_pred = model.predict(X_test)

In [16]:
print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)

Coefficients: [-9.54402386e-14  1.22881181e+02  1.22881181e+02 -2.32179980e-14
  6.90621075e-15  1.16101677e-14  2.70996719e-14 -2.69886496e-14
 -7.24983453e-15  5.47347769e-15  3.22637670e-15 -4.04975799e-15
 -2.03891801e-15  6.46559647e-16  3.30905186e-15  7.17808289e-16
  1.92234682e-14  6.39109172e-18 -2.21888311e-14]
Intercept: 322.96674899999994

In [17]:
y_pred

array([523.971 , 616.98  , 408.7335, 135.3555,  45.927 , 618.975 ,
       127.827 , 731.6925, 450.1035, 138.1275, 422.73  , 463.428 ,
       212.7825, 252.252 , 290.0835, 331.128 , 587.664 , 216.846 ,
       757.365 , 185.094 , 416.178 , 166.236 , 128.016 , 125.706 ,
       247.8735, 195.594 , 742.2975,  30.996 , 145.5825,  56.469 ,
        75.5475, 609.    ,  96.1905, 432.768 , 193.011 , 174.3   ,
       667.38  , 198.639 , 193.074 , 192.843 , 214.746 , 922.635 ,
        74.7075, 180.873 ,  93.0405, 400.764 , 221.886 ,  68.2395,
       343.224 , 281.169 , 430.71  , 101.64  ,  69.09  , 269.934 ,
       181.44  , 494.1825, 461.5275,  60.816 , 456.288 , 222.138 ,
       121.128 ,  33.936 ,  84.756 , 942.4485, 381.3915, 510.615 ,
       370.125 , 760.452 , 939.54  , 118.251 , 391.419 , 127.26  ,
       293.139 ,  89.0715,  65.604 , 697.368 , 764.19  , 253.008 ,
        76.755 , 745.836 , 305.55  ,  70.287 , 352.5795, 614.943 ,
       218.0745, 270.585 ,  69.111 , 829.08  , 384.72  , 395.892 ,
       523.3725, 138.663 , 235.872 , 796.908 ,  57.6975, 348.306 ,
       233.1   ,  44.5935, 166.005 , 681.4395, 525.231 , 379.9215,
       579.8415,  69.6675, 697.935 ,  63.2625, 142.002 , 932.337 ,
       323.064 , 397.614 , 570.78  , 216.4365, 334.4775, 333.984 ,
       401.73  , 147.798 ,  90.699 ,  26.7225, 148.68  , 190.155 ,
       485.5725, 383.7645, 130.8825, 709.317 , 232.155 , 228.123 ,
        75.936 ,  20.1075, 131.922 , 144.963 , 147.672 , 624.33  ,
       723.24  ,  42.3675, 926.9505, 722.232 , 836.304 ,  19.194 ,
       441.756 , 152.838 ,  32.277 ,  94.185 , 856.4535,  38.85  ,
       148.995 , 313.74  ,  90.3   , 788.508 ,  10.6785,  41.391 ,
       609.168 , 918.729 , 167.58  , 951.825 , 943.299 , 310.59  ,
       172.011 , 261.198 ,  77.931 , 175.014 ,  46.683 ,  86.247 ,
       259.77  , 397.215 , 106.5015, 300.573 , 252.042 , 211.365 ,
       820.365 , 503.559 , 793.548 ,  40.53  ,  34.629 , 633.108 ,
       431.445 , 461.286 , 494.76  , 276.948 , 495.3165, 308.574 ,
       209.769 , 588.42  , 701.8515, 164.682 , 295.407 , 216.846 ,
       374.388 , 343.056 , 479.64  , 597.0405, 188.0025, 779.31  ,
       104.6745, 374.7975, 146.223 , 237.426 , 404.355 ,  95.6655,
        84.9765, 822.255 ])

In [18]:
# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 2.3815458293132676e-26
R-squared: 1.0

In [19]:
from sklearn.metrics import mean_absolute_error

# Calculating Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)

print("Mean Absolute Error:", mae)

Mean Absolute Error: 1.240074709585315e-13

In [20]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
# Create and train the RandomForestRegressor mode
# rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
# rf_model.fit(X_train, y_train)

# Define the hyperparameter grid
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}


# Create the grid search object
grid_search = GridSearchCV(RandomForestRegressor(random_state=42), param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)

# Perform the grid search
grid_search.fit(X_train, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_


best_params

{'max_depth': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 200}

In [22]:
y_pred_rf = grid_search.predict(X_test)

In [23]:
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)
mae_rf = mean_absolute_error(y_test, y_pred_rf)

print("Random Forest Regression Model Performance:")
print("Mean Squared Error:", mse_rf)
print("R-squared:", r2_rf)
print("Mean Absolute Error:", mae_rf)

Random Forest Regression Model Performance:
Mean Squared Error: 1.4852512487137546
R-squared: 0.999977170704991
Mean Absolute Error: 0.7206559500000256

In [126]:
# Splitting the data into training and testing sets
X = preprocessed_dataset.drop(columns=['Total'])
y = preprocessed_dataset['Total']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [127]:
# Creating and training the Decision Tree Regressor model with hyperparameters
decision_tree_model = DecisionTreeRegressor(max_depth=5, min_samples_split=2, min_samples_leaf=1, random_state=42)
decision_tree_model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=5, random_state=42)

In [128]:
# Making predictions
y_pred = decision_tree_model.predict(X_test)

In [129]:
# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Decision Tree Regression Model Performance:")
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Decision Tree Regression Model Performance:
Mean Squared Error: 74.53971433403893
R-squared: 0.9988542752413828